nav {
    background-color: #000F08;
    color: white;
    
}
/* para sacar los puntos de la lista
y poner la barra en una línea */
nav ul li{
    list-style-type: none;
    display: inline-block;
}

header{
    background-image: url("../img/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-left: 0%;
    border: 510px;
    padding: 0px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
}
header h1{ font-size: 60px;}
header h3{ font-size: 40px; 
    font-weight: lighter;}

.donde-juntamos {
    background: white;
    text-align: center;
    font-family: "open sans, regular";
}
.donde-juntamos h2{
    font-size: 45px;
    font-weight: bold;}
.donde-juntamos p{
    font-size: 25px;
    /* font-weight: lighter; */
}

#Proxima-Charla {
    background: #a4452c;
    padding: 100px;
    color: white;
}
#Proxima-Charla .wrapper {
    width: 800px;
    margin: auto;
}
.wrapper img {
    width: 25%;
}
.wrapper .texto {
    width: 70%;
    margin-left: 4%;
}
.wrapper img, .texto {
    display: inline-block;
    vertical-align: middle;
}


#Eventos-anteriores {
    text-align: center;
    background-color: #FFFFFF;
}
/* .wrapper_ea .svegan .ml .scrum {
    display: inline-block;
    vertical-align: middle;
} */
/* .eventos {
    display: inline-block;
    vertical-align: middle;
} */

footer {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: #000f08;
    color: white;
    padding: 20px;
}
/* i de icono */
i{ 
    font-size: 30px;
}