/* usar siempre en todos los códigos */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.color-suricata{
    background-color: #E83E8C;
    /* font-weight: lighter; */
}
#productos h1{
    font-size: 60px;
    color: #707070;
    font-weight: 600;
    margin-top: 30px;
    /* margin-bottom: 30px; */
}
.tarjetas{
    height: 170px;
    background-color: #17A2B8;
}

.altura-footer{
    height: 184px;
}

/* al final::
achica la letra
 cuando disminuye de 768 */

@media(max-width: 768px){
    #productos h1 {
        font-size: 35px;
    }
}

