/* valores y variables  */
/* 
--bgcolor: #4F2361;
--textcolor: #2A292E;
--colorppc: #7F5281;
--blanco: #F9F9FF;
--blanco2: #Fe1d8e3;
*/
:root {
    --bgcolor: #4F2361;
    --textcolor: #2A292E;
    --colorppc: #7F5281;
    --blanco: #F9F9FF;
    --blanco2: #Fe1d8e3;
}
html{
    scroll-behavior: auto !important; /* para deshacer lo que viene por defecto en bootstra */
}

body {
    font-family: Helvetica;
}

/* navbar */
.navbar {
    /* background-color: #660066; */
    background-color: var(--bgcolor);
    /* background-image: linear-gradient(to bottom right, #660066, #e445e4); */
    position: fixed;   /* para que el menu de navegación esté fijo */
    width: 100vw;  /* para que recupere la anchura que perdió con fixed */
    z-index: 1; /* para que siempre se sobreponga sobre cualquier otro elemento, en este caso el hero.section */
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
}

.navbar-brand img {
    margin: -200px 0;  /* Ajusta los márgenes negativos para eliminar el espacio sobrante */
    max-width: 100%;
    height: auto;  /* Mantén la proporción */
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* Hero-section */
#Hero-Section {
    background-image: url("../img/pexels-julia-m-cameron-4144294.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;   /* lo modifiqué a la guía decía 100 */
    position: relative;
}

#Hero-Section div{
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line{
    width: 345px;;
}

#Hero-Section h1{
    font-family: "Oswald";
    font-size: 72px;
}

#Hero-Section h1:first-child{
    font-weight: 900;
    /* color: #cacbcb; */
}

#Hero-Section h1:last-child{
    font-weight: 200;
}

/* Sobre mi  */
#Sobre-Mi{
    color: var(--textcolor);
    font-family: "Open Sans";
    line-height: 3;
}

/* Mi experiencia */
#Experiencia div h1{
    font-family: "Oswald";
    font-size: 52px;
    color: var(--textcolor);
}

#Experiencia i{
    color: var(--bgcolor);
}

#Experiencia div:last-child article h4:first-child{
    font-family: "Oswald";
}

#Experiencia div:last-child article h4:last-child{
    font-family: "Open Sans";
    font-weight: 300;
}
 /* Mis ultimos trabajos */
#Trabajos {
    /* background-image: linear-gradient(to bottom right, #660066, #e445e4); */
    background-color: var(--bgcolor);
    font-family: "Oswald";
}

#Trabajos h1{
    font-size: 34px;
}

#Trabajos p{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
}

.link {
    text-decoration: none;
    color: var(--textcolor);

} 

.link:hover {
    color: var(--textcolor);
    opacity: 0.8;
}

/* Contacto */
#Contacto h1{
    font-family: "Oswald";
    font-size: 52px;
}

/* Footer */
#Footer{
    /* background-image: linear-gradient(to bottom right, #660066, #e445e4); */
    background-color: var(--bgcolor);
}

#Footer h1{
    font-family: "Oswald";
}

#Footer a {
    color: var(--blanco);
    /* elimina lo que aparece al lado del ícono */
    text-decoration: none;
}

#Footer a:hover{
    opacity: 0.7;
}

.card-color {
    /* background-image: linear-gradient(to bottom right, #660066, #e445e4); */
    background-color: var(--bgcolor);
    font-family: "Oswald";
    font-weight: bold;
    font-size: 1.5rem;
}

/* inicio whatsapp */
.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    /* line-height: 55px; */
    bottom: 30px;
    left: 30px;
    /* background: #0df053; */
    /* color: #fff;  */
    /* border-radius: 50px; */
    /* text-align: center; */
    /* font-size: 30px; */
    /* box-shadow: 0px 1px 10px rgba(0,0,0,0.3); */
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    /* background: #fff; */
    /* color: #0df053; */
    opacity: 0.7;
}
/* .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
        
    .fa-whatsapp {
    background: #45bbff;
    color: white;
    } */
/* fin whatsapp */

/* inicio paginas y aplicaciones web */
#Hero-Section-Web{
    background-image: url("../img/desarrolloWeb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;   /* lo modifiqué a la guía decía 100 */
    position: relative;
    opacity: 0.6;
}
#Hero-Section-Web div{
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line{
    width: 345px;;
}

#Hero-Section-Web h1{
    font-family: "Oswald";
    font-size: 72px;
}

#Hero-Section-Web h1:first-child{
    font-weight: 900;
    color: var(--textcolor);
    /* color: black; */
}

#Hero-Section-Web h1:last-child{
    font-weight: 200;
}
/* fin paginas y aplicaciones web */

@media(max-width: 768px){
    #Sobre-Mi {
        line-height: 1.5;
    }
    .iconos-exp {
        width: 50px;
    }
}

