*{
    margin: 0px;
    padding: 0px;
}

body{
        font-family: 'Roboto', sans-serif;
        background-color: #FFFFFF;
}

.color-verde{
    background-color: #28A745;
    /* color: #FFFFFF; */
}
.navbar h1{
    color: #FFFFFF;
}

.card h5{
    /* font-family: 'Roboto', sans-serif; */
    font-weight: lighter;
    font-size: 20px;
    color: #212529;
}

.card p {
    font-weight: lighter;
    font-size: 16px;
    color: #707070;
}
.card address{
    font-weight: lighter;
    font-size: 13px;
    color: #707070;
}

.card li{
    font-weight: lighter;
    font-size: 13px;
    color: #707070;
    text-align: right;
}

.card b{
    font-weight: 500px  ;
    font-size: 20px;
    color: #28A745;
}
.container{
    background-color: #28A745;
    text-align: center;
}

.container h1{
    font-size: 21px;
    color: #FFFFFF;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

}

input::placeholder{
    font-size: 16px;
    /* se hace mas transparente */
    opacity: 0.5;
    color: #707070;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
} */

button{
    background-color: #F8F9FA;
}

.footer h6{
    font-size: 16px;
    color: #707070;
    text-align: center;    
    font-weight: lighter;
}

.altura-footer{
    height: 100px;
}

/* @media(max-width: 768px){
    #productos h1 {
        font-size: 35px;
    }
} */