*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 60;
}

.color-oscuro {
    background-color: #373A3C;
}

h1{
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-weight: 37px;
} 
#nav-item{
    font-family: 'Cabin', sans-serif;
    font-weight: 16px;
    color: #FFFFFF;
}

.foto-principal{
    font-family: 'Cabin', sans-serif;
    font-weight: 40px;
    color: #373A3C;
    text-align: center;
}

p .foto-principal{
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: #373A3C;
    font-size: 20px;
}
.img-pizza {
    height: 384px;
    width: 482px;
}

h3{
    text-align: center;
    color: #373A3C;
    /* font-weight: 40px; */
    font-size: 30px;
    font-family: 'Cabin', sans-serif;

}
.button-font{
    font-size: 14px;
}

.img-carrucel{
    width: 233px;
    height: 170px;
}

/* empieza receta */
.receta {
    font-family: 'Cabin', sans-serif;
    font-weight: 20px;
    color: #373A3C;
    text-align: left;
}

#ingredientes {
    font-family: 'Cabin', sans-serif;
    font-weight: 20px;
    color: #373A3C;
    text-align: left;
}

#ingredientes.dbl {
    color: red;
}

#preparacion {
    font-family: 'Cabin', sans-serif;
    font-weight: 20px;
    color: #373A3C;
    text-align: left;
}

#preparacion.dbl {
    color: red;
}
/* termina receta */

.class-rojo{
    background-color: #DC3545;
    color: #FFFFFF;
    text-align: center;
    height: 434px;
    /* vertical-align: middle; */
    /* padding-top: 200px; */
}

h2 .class-rojo{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
}

p .class-rojo {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 20px;
}

#rojo-especial {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 20px;
}

.altura-footer{
    height: 121px;
}



@media(max-width: 320px){
    .img-pizza{
        height: 196px;
        width: 246px;
        margin: opx 0px 0px 37px;
        vertical-align: center;
    }
} 

