/* usar en todos los programas para evitar sorpresa en los márgenes */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
}

header{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

header h1{color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    /* tamaño y grosor de la fuente */
    font-size: 50px/59px;
    /* font-style: ; */
}
h3{
    font-weight: 300;
    color: #FFFFFF;
    font-size: 20px;
    /* text-align: center; */
}

.iguana-parrafo {
    height: 348px;
    background-color: #000000;
    padding: 50px 50px;
    color: #FFFFFF;
    text-align: left;
    white-space: nowrap;
    display: grid;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    /* grid-template-columns: 50% 50%; */
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.parr, .imagen-p {
    display: inline-block;
    width: 49%;
}

.iguana-parrafo .wrapper {
    /* width: 900px; */
    margin: auto;
}

/* .wrapper img {
    width: 25%;
} */
.parr {
    width: 50%;
    vertical-align: middle;
    white-space: normal;
}

.imagen-p {
    width: 40%;
    vertical-align: middle;
    margin-left: 10%;
}
/* .wrapper .parr {
    width: 70%;
    margin-right: 4%;
} */
/* .iguana-parrafo p img {
    display: inline-block;
    vertical-align: auto;
} */

.caractericas-iguana {
    height: 348px;
    background-color: #1E1A13;
    padding: 125px 85px 0px 85px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    /* color de los iconos */
    color: #FFFFFF;
}

.icon {
    /* width: 13%; */
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    /* separalos iconos /antes estaban juntos/ */
    width: 30%;
    /* margin-left: 200px; */
}

.caractericas-iguana h2 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    /* separa el texto de los iconos */
    margin-bottom: 50px;
}

.caractericas-iguana h3 {
    margin-top: 20px;
}

/* .caractericas-iguana i{
    margin-bottom: 16px;
} */
/* esto no hace cambio */
.fotos-iguana {
    height: 348px;
    /* lo transforma en un box flexible. 
    despues las propiedades de flex*/
    display: flex;
    justify-content: center;
    /* eje vertical al medio */
    align-items: center;
    /* separa fotos */
    gap: 30px;
    /* text-align: center; */
    /* padding: 50px 0px 0; */
}

/* .fotos-iguana img 
    /* separa las fotos */
    /* margin-left: 1%; 
 */

footer{
    background-color: #1E1A13;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
    align-items: center;
    font-size: 20px;
    /* padding: 10px; */
    height: 102px;
    display: flex;
    justify-content: center;

}

/* footer p {
    text-align: center;
} */